*.coff
bin/coff2noff
*~
test/halt
test/matmult
test/shell
test/sort
test/fileio
test/hellocons
test/hellofile
test/fromcons
test/testfy
*.tgz
test/testexec
test/bogus2
test/kid
test/parent
test/cat
test/cp
test/argkid
test/argtest
test/hello.out
test/deepexec
test/kid4
test/kid5
test/wideexec
test/widekid3
test/widekid2
test/widekid1

