*.o
*.s
nachos
*~
*.*~
nachos3/test1/Xkid
nachos3/test1/argkid
nachos3/test1/argtest
nachos3/test1/huge
nachos3/test1/kid
nachos3/test1/matmult
nachos3/test1/maxexec
nachos3/test1/parent
nachos3/test1/qmatmult
nachos3/test1/qsort
nachos3/test1/vmtoobig
nachos3/test1/vmtorture
nachos3/test3/lazy1
nachos3/test3/lazy2
