*.coff
bin/coff2noff
*~
test/halt
test/matmult
test/shell
test/sort
test/fileio
test/hellocons
test/hellofile
test/fromcons
test/testfy
*.tgz
test/testexec
test/bogus2
test/kid
test/parent
test/cat
test/cp
test/argkid
test/argtest
test/hello.out
test/deepexec
test/kid4
test/kid5
test/wideexec
test/widekid3
test/widekid2
test/widekid1
test/bogus1
test/noshare
test/script
test/sharekid
test1/bogus1
test1/bogus2
test1/fileio
test1/fromcons
test1/halt
test1/hellocons
test1/hellofile
test2/atomicconsole
test2/atomicconsole2
test2/badkid
test2/badparent
test2/bogusexec1
test2/bogusexec2
test2/bogusexec3
test2/deepexec
test2/deepkid1
test2/deepkid2
test2/goodparent
test2/hugekid
test2/kid
test2/maxexec
test2/parent
test3/argkid
test3/argtest
test4/atomicfile
test4/atomicfile2
test4/noshare
test4/share
test4/sharedfile
test4/sharekid
synchdisk